* {
  box-sizing: border-box;
  border: thin solid black;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  border: thin solid yellow;
}

#left {
  width: 25%;
  float: left;
  height: 100%;
  border: thin solid green;
}

#inside {
  height: 75%;
}

#top {
  height: 25%;
  border: thin solid red;
 }

#outside {
  width: 75%;
  float: left;
  height: 100%;
}

#right {
  width: 25%;
  float: right;
  height: 100%;
}

#content {
  width: 75%;
  float: left;
  height: 100%;
}

#content-left, #content-right {
  width: 50%;
  float: left;
  height: 75%;
}

#content-bottom {
  width: 100%;
  height: 25%;
  float: left;
}
