* { box-sizing: border-box;}

.ground {
  animation: move 10s steps(1000) infinite forwards;
}

.enemy {
  animation: walk 10s steps(1000) infinite forwards,
             jump 3s steps(1000) infinite forwards;
}

.small-cloud {
  animation: slide-left 10s steps(1000) infinite forwards,
             down-up 10s steps(1000) infinite forwards;
}

.other-cloud {
  animation: slide-left 7s steps(1000) infinite forwards,
             down-up 5s steps(1000) infinite forwards;
}


.big-cloud {
  animation: slide-left 5s steps(1000) infinite forwards,
             down-up 10s steps(1000) infinite forwards;
}



@keyframes move {
  100% { background-position: -1680px 0px; }
}

@keyframes walk {
  100% { margin-left: 1024px;  transform: scale(2);  }
}

@keyframes jump {
  50% { bottom: 226px; }
  100% { bottom: 113px; }
}

@keyframes slide-left {
  100% { margin-right: 1024px; }
}

@keyframes down-up {
  50% { margin-top: 200px;}
  100% { margin-top: 0px; }
}

.background {
  width: 1024px;
  height: 768px;
  border: thin solid black;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: skyblue;
  margin: 0 auto;
}

.ground {
  background-image: url("images/ground.png");
  width: 1680px;
  height: 113px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.enemy {
  background-image: url("images/enemy.png");
  width: 75px;
  height: 75px;
  position: absolute;
  bottom: 113px;
  margin-left: -175px;
}

.small-cloud {
  background-image: url("images/small-cloud.png");
  width: 204px;
  height: 156px;
  top: 0;
  right: 0;
  position: absolute;
  margin-right: -180px;
}

.big-cloud {
  background-image: url("images/big-cloud.png");
  width: 301px;
  height: 113px;
  top: 0;
  right: 0;
  position: absolute;
  margin-right: -302px;
}

.other-cloud {
  top: 100px;
  right: 100px;
}
