* {
  box-sizing: border-box;
  border: thin solid black;
}


#left-side {
  width: 33.33333%;
  float: left;
}

#right-side {
  width: 66.66666%;
  float: left;
}

.card {
  width: 45%;
  border: thin solid #dadada;
  float: left;
  margin: 2.5%;
}

.card img {
  width: 90%;
  text-align: center;
}

.card button {
  float: right;
  padding: 5%;
  margin: 5%;

}
